.footer {
    background-color: rgb(240, 195, 137);
    color: black;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.youtube {
    background-image: url(https://th.bing.com/th/id/OIP.F-iuLAkhA8EdMm0b4HIFpAHaEW?rs=1&pid=ImgDetMain);
}
