$color_1: #000000;
$color_2: black;
$color_3: #ddd;
$color_4: #9b7a50;
$color_5: #1a1916;
$color_6: #999;
$color_7: #000;
$color_8: #f5eb94;
$color_9: #fdf4ec;
$font-family_1: "Roboto", sans-serif;
$font-family_2: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$background-color_1: #f0b470;
$background-color_2: rgb(247, 235, 235);
$background-color_3: #f5c88e;
$background-color_4: #f1ba71;
$background-color_5: burlywood;
$background-color_6: rgb(252, 149, 31);
$background-color_7: rgb(241, 215, 180);
$background-color_8: #e0d18e;
$background-color_9: #ce9261;
$border-color_1: #ddd #000;
$border-color_2: #eee #000;







  
  
  
  